.errorMessage {
    color: red;
    font-size: 26px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
}
@media (max-width: 768px){
    .errorMessage{
        font-size: 16px;
    }
}
@media (max-width: 320px){
    .errorMessage{
        font-size: 10px;
    }
}