.seachForm__label {      
    margin: 2em;
}
.seachForm__checkbox {       
    display: none;
}
.seachForm__checkbox+.seachForm__label, .seachForm__checkbox+.seachForm__label::before, .seachForm__checkbox+.seachForm__label::after {
    transition: all .3s;
}
.seachForm__checkbox+.seachForm__label {
    display: inline-block;
    position: relative;
    margin: 0;
    width: 36px;
    height: 20px;
    border-radius: 16px;
    cursor: pointer;
}

.seachForm__checkbox+.seachForm__label::after {
    border-radius: 50%;
    content: '';
    position: absolute;
    top: 1px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #2BE080;          
}

.seachForm__checkbox:checked+.seachForm__label::after {
    left: 17px;
    background-color: #2BE080;
}

.seachForm__checkbox+.seachForm__label { 
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);           
    background-color: #FFFFFF;
}
.seachForm__checkbox:checked+.seachForm__label {

    background-color: #FFFFFF;
}
.seachForm__checkbox:checked+.seachForm__label::before {
    color: #FFFFFF;
}
.seachForm__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F9F9F9;
    border-radius: 40px;
    height: 46px;
    width: 100%;
    margin: 0 auto 41px auto;

}
.seachForm__input{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: #A0A0A0;
    width: 90.8%;
    border: none;
    padding-left: 23px;
    background: #F9F9F9;
}
.seachForm__input::placeholder{
    margin-left: 22px;
}
.seachForm__button{
    width: 34px;
    height: 34px;
    margin-right: 12px;
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
    
}
.seachForm__button:hover{
    opacity: 0.8;
}
.seachForm__logo{
    width: 34px;
    height: 34px;
}
.seachForm{
    width: 89.1%;
    padding-top: 60px;
    padding-bottom: 68px;
    box-sizing: border-box;
    border-bottom: 1px solid #E8E8E8;
    margin: 0 auto 10px auto;
}
.seachForm__checkbox-text{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 0;
    margin-left: 12px;
}
.seachForm__checkbox-container{
    display: flex;
    flex-direction: row;
    margin: 0 auto 0 auto;
    padding-top: 2px;
    padding-left: 3px;
    width: 178px;
}
.seachForm__error{
    text-align: start;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FF4062; 
    position: absolute;
    top:190px;
    left: 16%
}
.seachForm__error_visible{
    display: none;
}

@media (max-width: 768px){
    .seachForm{
        width: 92.2%;
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .seachForm__checkbox-container{
        padding: 0;
        margin-left: 37.67%;
    }    
}
@media (max-width: 320px){
    .seachForm{
        width: 91.25%;
        padding-top: 80px;
        padding-bottom: 49px;
    }
    .seachForm__input{
        font-size: 11px;
        padding-left: 19px;
    }
    .seachForm__checkbox-container{
        padding: 0;
        margin-left: 25.1%;
    }
    .seachForm__content{
        margin-bottom: 43px;
    } 
    .seachForm__checkbox-text{
        font-size: 11px;
        line-height: 18px;
    }  

}