.footer{
    max-width: 100%;
    height: 172px;
    margin: 0;
    padding-top: 79px;
    box-sizing: border-box;
}  

.footer__copyright{
    display: flex;
    flex-direction: row;
    padding: 0 70px 0 70px;
    justify-content: space-between;
    margin: 0;
}
.footer__texts{
    display: flex;
    gap: 20px;
    flex-direction: row;
}
.footer__text{
    margin: 20px 0 20px 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: left;
    color: #000000;
}
.footer__link{
    text-decoration: none;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
}
.footer__link:hover{
    opacity: 0.7;
}
.footer__content{
    max-width: 89.1%;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
    text-align: center;
    color: #A0A0A0;
    border-bottom: 1px solid #E8E8E8;
}

@media (max-width: 768px){
    .footer__copyright{
        padding: 0 30px 0 30px;
    }
    .footer__content{
        max-width: 92.19%;
    }  
}

@media (max-width: 500px){
    .footer{
        height: 243px;
    }
    .footer__copyright{
        flex-direction:column-reverse;
    }
    .footer__text{
        font-size: 12px;
        line-height: 15px;
        margin: 0;
        text-align: center;
    }
    .footer__content{
        max-width: 93.75%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__texts{
        margin-top: 30px;
        margin-bottom: 30px;
        gap: 12px;
        flex-direction:column;
    }
    .footer__text_color{
        color: #A0A0A0;
    }  
}



